@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: rgb(23, 25, 125);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 255);
}


button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(235, 243, 242);
    background-color: rgb(36, 135, 177);
    color: rgb(0, 0, 0)0;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}
img {
    width: 800px;
    margin-top: 100px;
    border-radius: 5px;
    max-width: 500px;
    

}
